$title: #363853;
$colortext: #31352b;
$orange: #ff6838;
$color-white: #fff;

%rubicreg-400 {
  font-family: "Rubik";
  font-weight: 400;
}

%rubicmed-500 {
  font-family: "Rubik";
  font-weight: 500;
}

%rubiclight-300 {
  font-family: "Rubik";
  font-weight: 300;
}

%rubicitalic-400 {
  font-family: "Rubik";
  font-weight: 400;
}

@mixin bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}