@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.header,
.menu {
  transition: background-color 0.3s, padding 0.3s;
}

.fixed {
  background-color: #f9faff;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.menu.fixed {
  padding: 15px 0;
}

.menu__inner {
  display: flex;
}

.menu__list {
  margin-right: 62px;
  display: flex;
  .menu__item:not(:last-child) {
    margin-right: 45px;
  }

  .menu__item-link {
    font-size: 18px;
    line-height: 21px;
  }
}

.user-nav {
  display: flex;
  position: relative;

  .user-nav__link--search {
    background-image: url(../images/icons/search.svg);
    width: 21px;
    height: 21px;
    @include bg-image;
    margin-right: 36px;
  }

  .user-nav__link--cart {
    background-image: url(../images/icons/cart_icon.svg);
    width: 21px;
    height: 20px;
    @include bg-image;
  }

  .user-nav__num {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: $orange;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    top: -4px;
    right: -8px;
    color: $cw;
    font-size: 10px;
    line-height: 15px;
  }
}

.header__content {
  padding-top: 159px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 159px);
}

.header__top-image img {
  max-width: 560px;
  width: 100%;
  height: fill-available;
}

.header__content-top {
  max-width: 450px;
  .header__content-text {
    font-size: 20px;
    line-height: 1.5;
  }
}
.header__content-title,
.header__content-text {
  margin-bottom: 20px;
}

.header__content-title {
  @extend %rubicmed-500;
  font-size: 66px;
  color: $orange;
  text-transform: uppercase;
}

.header__content-subtitle {
  color: $title;
  display: block;
}

.header__content-links {
  display: flex;
  align-items: center;
}

.header__link-order {
  margin-right: 34px;
  padding: 12px 32px;
  font-size: 18px;
  background-color: $orange;
  border-radius: 6px;
  color: $cw;
  letter-spacing: 0.03em;
}

.header__link-more-text {
  font-size: 20px;
  border-bottom: 1px solid $title;
  line-height: 1.5;
}

.main {
  min-height: 100%;
  flex: 1 0 auto;
  padding: 120px 0;
}

.popular__title {
  margin-bottom: 60px;
  text-align: center;
}

.popular__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.popular__btn {
  position: relative;
  border-radius: 5px;
  max-height: 70px;
  cursor: pointer;
}

.burger::before,
.pizza::before,
.sandwich::before,
.asian::before,
.sets::before {
  content: "";
  position: absolute;
  @include bg-image;
  height: 44px;
  width: 44px;
  top: 50%;
  transform: translateY(-50%);
  left: 32px;
}

.pizza,
.sandwich,
.asian,
.sets {
  background: #ffffff;
  box-shadow: 0 0 0 1px #ececec;
  padding: 22px 32px 22px 86px;
}

.burger {
  background-color: $orange;
  padding: 22px 32px 22px 86px;
}

.burger::before {
  background-image: url(../images/popular/popular_icons/burger_1.svg);
}

.pizza::before {
  background-image: url("../images/popular/popular_icons/pizza_1.svg");
}

.sandwich::before {
  background-image: url("../images/popular/popular_icons/sandwich_1.svg");
}

.asian::before {
  background-image: url("../images/popular/popular_icons/asia.svg");
}

.sets::before {
  background-image: url("../images/popular/popular_icons/dish_1.svg");
}

// ==============================
.popular__cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.popular__cards-inner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.popular__cards-item {
  background-color: #fff;
  max-width: 210px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.popular__cards-img {
  padding: 20px 35px 10px;
}

.popular__cards-title,
.popular__cards-price {
  text-align: center;
  font-size: 15px;
}

.popular__cards-title {
  min-height: 100%;
  padding: 0 10px;
  line-height: 18px;
  flex-grow: 1;
}

.popular__cards-price {
  @extend %rubicmed-500;
  margin-bottom: 10px;
}

.popular__cards-btn {
  padding: 7px 16px;
  background-color: $orange;
  margin-bottom: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #ececec;
  cursor: pointer;
}

.popular__link-showmore {
  display: block;
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  color: $title;
  text-decoration: underline;
  line-height: 1.5;
}
// ==============================
// ==============================
// ==============================
// ==============================
// ==============================
.footer {
  display: flex;
  flex-direction: column;
  .container {
    width: 100%;
  }
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  padding-bottom: 60px;
}

.footer__items:not(:last-child) {
  margin-right: 70px;
}

.logo__footer {
  margin-bottom: 30px;
}

.footer__form-input {
  background: #ffffff;
  border: 1px solid #c2c2c2;
}

.footer__form-input,
.footer__form-btn {
  max-width: 200px;
  min-height: 44px;
  width: 100%;
  border-radius: 5px;
}

.footer__form-input {
  margin-bottom: 12px;
  border: 1px solid #c2c2c2;
  &::placeholder {
    padding: 13px 15px;
  }
}

.footer__form-btn {
  position: relative;
  background-color: $orange;
  @extend %rubicmed-500;
  font-size: 14px;
  border: none;
  color: #fff;
  span {
    padding: 13px 38px 13px 69px;
  }
}

.footer__form-btn::before {
  content: "";
  position: absolute;
  background-image: url(../images/icons/arrow_btn-footer.svg);
  @include bg-image;
  width: 17px;
  height: 17px;
  left: 39px;
}

.footer__item {
  font-size: 18px;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.copyright {
  border-top: 1px solid rgba(194, 194, 194, 0.2);
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__list-social {
  display: flex;
}

.footer__list-social-link:not(:last-child) {
  margin-right: 13px;
}

.facebook,
.twitter,
.instagram {
  width: 39px;
  height: 39px;
  display: inline-block;
  @include bg-image;
}

@import "media";
